:root {
  --primary: #38b6ff;
  --secondary: #0d3752;
  --third: #ffffff;
  --fourth: #000000;
}
/* declartion of fonts */
@font-face {
  font-family: roboto bold;
  src: url(./fonts/RobotoMono-Bold.ttf);
}
@font-face {
  font-family: roboto bolditalic;
  src: url(./fonts/RobotoMono-BoldItalic.ttf);
}
@font-face {
  font-family: roboto extralight;
  src: url(./fonts/RobotoMono-ExtraLight.ttf);
}
@font-face {
  font-family: robotoextralightitalic;
  src: url(./fonts/RobotoMono-ExtraLightItalic.ttf);
}
@font-face {
  font-family: roboto italic;
  src: url(./fonts/RobotoMono-Italic.ttf);
}
@font-face {
  font-family: roboto light;
  src: url(./fonts/RobotoMono-Light.ttf);
}
@font-face {
  font-family: roboto lightitalic;
  src: url(./fonts/RobotoMono-LightItalic.ttf);
}
@font-face {
  font-family: roboto medium;
  src: url(./fonts/RobotoMono-Medium.ttf);
}
@font-face {
  font-family: roboto mediumitalic;
  src: url(./fonts/RobotoMono-MediumItalic.ttf);
}
@font-face {
  font-family: roboto regular;
  src: url(./fonts/RobotoMono-Regular.ttf);
}
@font-face {
  font-family: roboto semibold;
  src: url(./fonts/RobotoMono-SemiBold.ttf);
}
@font-face {
  font-family: roboto semibolditalic;
  src: url(./fonts/RobotoMono-SemiBoldItalic.ttf);
}
body {
  margin: 0;
  font-family: roboto bold;
  background-color: #000000;
}

/* header style */
header.hkHeader {
  background-color: #000000;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  box-shadow: 24px 19px 20px 6px rgba(86, 150, 202, 0.44);
  -webkit-box-shadow: 24px 19px 20px 6px rgba(86, 150, 202, 0.44);
  -moz-box-shadow: 24px 19px 20px 6px rgba(86, 150, 202, 0.44);
}

header.hkHeader .hkMainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.hkHeader .hkLogo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header.hkHeader .hkLogo img {
  height: 60px;
  width: 160px;
}

header.hkHeader .hkMainNav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header.hkHeader .hkMainNav ul li {
  margin: 0 15px;
}

header.hkHeader .hkMainNav ul li a {
  text-decoration: none;
  font-family: roboto bold;
  font-size: 13px;
  color: #38b6ff;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

header.hkHeader .hkMainNav  a:hover {
  color: #ffffff;
  text-shadow: 0 0 20px #4acbdf, 0 0 30px #4acbdf;
}
/* end of header style */

/* about section style */
.hkAboutSection {
  padding: 100px 100px;
  color: #0d3752;
  font-family: roboto regular;
  margin: 0;
}
.hkAboutSection h1 {
    text-align: center;
}
/* styling about section and photos */
.hkAboutContent .hkAboutContainer .hkAboutRowOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
    
}
.hkAboutContent .hkAboutContainer .hkAboutRowOne img {
    width: 250px;
    height: 300px;
    border-radius: 10px;
}
.hkAboutContent .hkAboutContainer .hkAboutRowTwo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
   
}
.hkAboutContent .hkAboutContainer .hkAboutRowTwo img {
    width: 250px;
    height: 300px;
    border-radius: 10px;
}
.hkAboutContent .hkAboutContainer .hkAboutRowOne .aboutColOne:hover,
.hkAboutContent .hkAboutContainer .hkAboutRowOne .aboutColTwo:hover,
.hkAboutContent .hkAboutContainer .hkAboutRowOne .aboutColThree:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.hkAboutContent .hkAboutContainer .hkAboutRowTwo .aboutColFour:hover,
.hkAboutContent .hkAboutContainer .hkAboutRowTwo .aboutColFive:hover,
.hkAboutContent .hkAboutContainer .hkAboutRowTwo .aboutColSix:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
@media screen and (max-width: 768px) {
  body{
    overflow-x: hidden;
    width: fit-content;
  }
  header.hkHeader {
    position: static !important;
    top: auto !important;
    width: 100%;
  }
  header.hkHeader .hkMainNav ul {
    flex-direction: column;
    background: #000000;
    top: 70px;
    left: 0;
    width: 100%;
  }
  .hkNavList {
    display: flex;
    flex-direction: column;
    background: #000000;
    width: 100%;
    padding: 20px;
    postion: absolute;
    top: 70px;
    left: 0;
  }
  .hkNavList li a {
    color: #ffffff;
    padding: 10px 0;
  }
  .hkAboutSection  {
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 0;
  }
  .hkAboutContent .hkAboutContainer .hkAboutRowOne {
    flex-direction: column;
  }
  .hkAboutContent img{
   
  }
  .hkAboutContent .hkAboutContainer .hkAboutRowTwo {
   flex-direction: column; 
  }
/* making header and first section responisive */
}





