:root {
  --primary: #38b6ff;
  --secondary: #0d3752;
  --third: #ffffff;
  --fourth: #000000;
}
/* declartion of fonts */
@font-face {
  font-family: roboto bold;
  src: url(./fonts/RobotoMono-Bold.ttf);
}
@font-face {
  font-family: roboto bolditalic;
  src: url(./fonts/RobotoMono-BoldItalic.ttf);
}
@font-face {
  font-family: roboto extralight;
  src: url(./fonts/RobotoMono-ExtraLight.ttf);
}
@font-face {
  font-family: robotoextralightitalic;
  src: url(./fonts/RobotoMono-ExtraLightItalic.ttf);
}
@font-face {
  font-family: roboto italic;
  src: url(./fonts/RobotoMono-Italic.ttf);
}
@font-face {
  font-family: roboto light;
  src: url(./fonts/RobotoMono-Light.ttf);
}
@font-face {
  font-family: roboto lightitalic;
  src: url(./fonts/RobotoMono-LightItalic.ttf);
}
@font-face {
  font-family: roboto medium;
  src: url(./fonts/RobotoMono-Medium.ttf);
}
@font-face {
  font-family: roboto mediumitalic;
  src: url(./fonts/RobotoMono-MediumItalic.ttf);
}
@font-face {
  font-family: roboto regular;
  src: url(./fonts/RobotoMono-Regular.ttf);
}
@font-face {
  font-family: roboto semibold;
  src: url(./fonts/RobotoMono-SemiBold.ttf);
}
@font-face {
  font-family: roboto semibolditalic;
  src: url(./fonts/RobotoMono-SemiBoldItalic.ttf);
}
body {
  margin: 0;
  font-family: roboto bold;
  background-color: #000000;
}

/* header style */
header.hkHeader {
  background-color: #000000;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  box-shadow: 24px 19px 20px 6px rgba(86, 150, 202, 0.44);
  -webkit-box-shadow: 24px 19px 20px 6px rgba(86, 150, 202, 0.44);
  -moz-box-shadow: 24px 19px 20px 6px rgba(86, 150, 202, 0.44);
}

header.hkHeader .hkMainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.hkHeader .hkLogo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header.hkHeader .hkLogo img {
  height: 60px;
  width: 160px;
}

header.hkHeader .hkMainNav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header.hkHeader .hkMainNav ul li {
  margin: 0 15px;
}

header.hkHeader .hkMainNav ul li a {
  text-decoration: none;
  font-family: roboto bold;
  font-size: 13px;
  color: #38b6ff;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

header.hkHeader .hkMainNav  a:hover {
  color: #ffffff;
  text-shadow: 0 0 20px #4acbdf, 0 0 30px #4acbdf;
}
/* end of header style */